<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.AppdDocDao">
	<select id="totCnt"  parameterType="appdDocSch" resultType="int">
		select count(*)
		from APPD_DOC
		where 1=1
			<if test="adWriter!=null and adWriter!=''">
			and AD_WRITER like '%'||#{adWriter}||'%'
			</if>
            <if test='searchDocStauts !=null and searchDocStauts == "01"'>
            and ad_appd='결재대기'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "02"'>
            and ad_appd='반려'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "03"'>
            and ad_appd = '결재완료'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "04"'>
            and AD_WRITER=#{uiId}	
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "05"'>
            and AD_UI_ID=#{uiId}
            </if>

	</select>
	<select id="getADList" parameterType="appdDocSch" resultType="appdDoc">
		select ad.*, ui.UI_NAME
		from (
			select rownum cnt, APPD_DOC.*
			from APPD_DOC
			where 1=1
			<if test="adWriter!=null and adWriter!=''">
			and AD_WRITER like '%'||#{adWriter}||'%'
			</if>
            <if test='searchDocStauts !=null and searchDocStauts == "01"'>
            and ad_appd='결재대기'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "02"'>
            and ad_appd='반려'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "03"'>
            and ad_appd='결재완료'
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "04"'>
            and AD_WRITER=#{uiId}
            </if>
            <if test='searchDocStauts !=null and searchDocStauts == "05"'>
            and AD_UI_ID=#{uiId}
            </if>
		)ad, user_info ui
		where cnt between #{firstPage} and #{lastPage}
			and ad.AD_WRITER = ui.UI_ID 
	</select>
	<insert id="insertAD" parameterType="appdDoc">
		INSERT INTO APPD_DOC (
			ad_id,
		    ad_dept,
		    ad_title,
		    ad_writer,
		    ad_content,
		    ad_regdate,
		    ad_appd,
		    ad_ui_id
		) VALUES(
			seq_ad.nextval
			,#{adDept}
			,#{adTitle}
			,#{adWriter}
			,#{adContent}
			,sysdate
			,#{adAppd}
			,#{adUiId}
			)
	</insert>
	<update id="updateAD" parameterType="appdDoc">
		UPDATE appd_doc
		SET
		    <if test="adDept!=null and adDept!=''">
		    ad_dept	=	 #{adDept}    ,
		    </if>
		    <if test="adTitle!=null and adTitle!=''">
		    ad_title=	 #{adTitle}   ,
		    </if>
		    <if test="adWriter!=null and adWriter!=''">
		    ad_writer=	 #{adWriter}  ,
		    </if>
		    <if test="adContent!=null and adContent!=''">
		    ad_content=	 #{adContent} ,
		    </if>
		    <if test="adAppd!=null and adAppd!=''">
		    ad_appd    = #{adAppd} ,
		    </if>
		    ad_regdate=	 sysdate ,
		    <if test="adUiId!=null and adUiId!=''">
		    ad_ui_id    = #{adUiId},
		    </if>
		WHERE
		    ad_id = #{adId}
	</update>
	<select id="getDeptUserList" resultType="user" parameterType="String">
		select ui_id, ui_name
		from USER_INFO usr
		where usr.ui_dept in (
		                       select ui_dept
		                         From USER_INFO
		                        where ui_id = #{value}
		                    )
		and ui_id <![CDATA[ < >]]> #{usId}
	</select>

</mapper>