<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.DeptDao">
	<!-- 부서문서 테이블 조회 -->
	<select id="getDDList" resultType="deptDoc">
		select *
		from DEPT_DOC
	</select>
	<!-- 부서문서 테이블 등록 -->
	<!-- INSERT INTO DEPT_DOC VALUES(seq_dd.nextval, 
	'요구사항정의서','홍길동','기획팀','확인해주세요',sysdate,'1'); -->
	<!-- 
	private String ddId;
	private String ddTitle;
	private String ddWriter;
	private String ddDept;
	private String ddContent;
	private Date ddRegdate;
	private String diId;
	 -->
</mapper>