<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.DeptDao">
	<!-- 부서문서 테이블 총 카운터 -->
	<select id="totCnt"  parameterType="deptDocSch" resultType="int">
		select count(*)
		from DEPT_DOC 
		where 1=1
		and PI_ID = #{piId}
		<if test="ddWriter!=null and ddWriter!=''"> 
		and DD_WRITER like '%'||#{ddWriter}||'%'
		</if>
		<if test="ddDept!=null and ddDept!=''">
		and DD_DEPT like '%'||#{ddDept}||'%'
		</if>
	</select>
	<!-- 부서문서 테이블 조회 -->
	<select id="getDDList" parameterType="deptDocSch" resultType="deptDoc">
		select *
		from (
			select rownum cnt, DEPT_DOC.*
			from DEPT_DOC
			where 1=1
			and PI_ID = #{piId}
			<if test="ddWriter!=null and ddWriter!=''"> 
			and DD_WRITER like '%'||#{ddWriter}||'%'
			</if>
			<if test="ddDept!=null and ddDept!=''">
			and DD_DEPT like '%'||#{ddDept}||'%'
			</if>
		)
		where cnt between #{firstPage} and #{lastPage}
		order by DD_ID desc
	</select>
	<!-- 부서문서 등록 -->
	<insert id="insertDD" parameterType="deptDoc">
		INSERT INTO DEPT_DOC VALUES(seq_dd.nextval,#{ddTitle},#{ddWriter},
		#{ddDept},#{ddContent},sysdate,'1',#{piId})
	</insert>
	<!-- 부서문서 첨부파일 -->
	<insert id="insertDF" parameterType="deptFile">
		INSERT INTO DEPT_FILE VALUES(seq_df.nextval,
		#{dfFile},sysdate,seq_dd.currval)
	</insert>
</mapper>
