<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.DeptDetailDao">
	<select id="getDetailList" parameterType="String" resultType="deptDoc">
		select * from DEPT_DOC where DD_ID = #{ddId}
	</select>
	<select id="getFileInfo" parameterType="String" resultType="String">
		SELECT DF_FILE FROM DEPT_FILE WHERE DD_ID = #{ddId}
	</select>
	<update id="updateDept" parameterType="deptDoc">
		update Dept_Doc
		set DD_TITLE = #{ddTitle},
			DD_CONTENT = #{ddContent},
			DD_REGDATE = sysdate
		where DD_ID = #{ddId}
	</update>
	<delete id="deleteDept" parameterType="string">
		delete from DEPT_DOC where DD_ID = #{ddId}
	</delete>
</mapper>