<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.IssueDao">
	<select id="getTotalCnt" parameterType="issueSch" resultType="int">
		select count(*)
		from task_issue
		where 1=1
		<if test="tiContent != null and tiContent != ''">
		and ti_content like '%'||#{tiContent}||'%'
		</if>
		<if test="tiCharge != null and tiCharge != ''">
		and ti_charge like '%'||#{tiCharge}||'%'
		</if>
		<if test="tiDuedate != null and tiDuedate != ''">
		and ti_duedate like '%'||#{tiDuedate}||'%'
		</if>
		<if test="tiPriority != null and tiPriority != ''">
		and ti_priority like '%'||#{tiPriority}||'%'
		</if>
	</select>
	
	<select id="getIssueList" parameterType="issueSch" resultType="issue">
		select *
		from (
			SELECT row_number() over(ORDER BY to_date(ti_duedate, 'YYYY-MM-DD')) cnt, task_issue.*
			from task_issue
			where 1=1
			<if test="tiContent != null and tiContent != ''">
			and ti_content like '%'||#{tiContent}||'%'
			</if>
			<if test="tiCharge != null and tiCharge != ''">
			and ti_charge like '%'||#{tiCharge}||'%'
			</if>
			<if test="tiDuedate != null and tiDuedate != ''">
			and ti_duedate like '%'||#{tiDuedate}||'%'
			</if>
			<if test="tiPriority != null and tiPriority != ''">
			and ti_priority like '%'||#{tiPriority}||'%'
			</if>
		)
		where cnt between #{firstPage} and #{lastPage}
	</select>
	
	
	<insert id="insertIssue" parameterType="issue">
		INSERT INTO task_issue VALUES(
			'TI' || lpad(issue_seq.nextval, 5, 0),
			#{tiWriter},
			#{tiContent},
			#{tiCharge},
			#{tiPriority},
			#{tiDuedate},
			#{ptId}
		)
	</insert>
	
	
	<update id="updateIssue" parameterType="issue">
		update task_issue
		set ti_content = #{tiContent},
		    ti_charge = #{tiCharge},
			ti_priority = #{tiPriority},
			ti_duedate = #{tiDuedate}
		where ti_id = #{tiId}
	</update>
	
	<delete id="deleteIssue" parameterType="String">
		delete from task_issue where ti_id = #{tiId}
	</delete>
	
	
<!--  
	<select id="getEmpList" parameterType="emp" resultType="emp">
		select *
		from empcrud
		where ename like '%'||#{ename}||'%'
		and job like '%'||#{job}||'%'
	</select>
	<insert id="insertEmp" parameterType="emp">
		insert into empcrud values(empcrud_seq.NEXTVAL, #{ename},
			#{job},#{mgr},to_date(#{hiredateS},'YYYY-MM-DD'),#{sal},#{comm},#{deptno})
	</insert>
	<select id="getEmp" parameterType="int" resultType="emp">
		select * from empcrud where empno=#{empno}
	</select>
	<update id="uptEmp" parameterType="emp">
		update empcrud
		set ename=#{ename},
			job=#{job},
			mgr=#{mgr},
			hiredate=to_date(#{hiredateS}, 'yyyy-mm-dd'),
			sal=#{sal},
			comm=#{comm},
			deptno=#{deptno}
		where empno = #{empno}
	</update>
	<delete id="delEmp" parameterType="int">
		delete from empcrud where empno = #{empno}
	</delete>
-->
</mapper>