<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mvc.dao.IssueDao">
	<select id="getTotalCnt" parameterType="issueSch" resultType="int">
		select count(*)
		from task_issue
		where 1=1
		and PT_ID = #{ptId}
		<if test="tiContent != null and tiContent != ''">
		and ti_content like '%'||#{tiContent}||'%'
		</if>
		<if test="tiCharge != null and tiCharge != ''">
		and ti_charge like '%'||#{tiCharge}||'%'
		</if>
		<if test="tiDuedate != null and tiDuedate != ''">
		and ti_duedate like '%'||#{tiDuedate}||'%'
		</if>
		<if test="tiPriority != null and tiPriority != ''">
		and ti_priority like '%'||#{tiPriority}||'%'
		</if>
	</select>
	
	<!-- 서브쿼리 문제 없으나, ti_writer가 이름으로 들어가 있네... 
	++ PT_ID 업무담당자에 해당 등록자가 있는지...
	-->
	<select id="getIssueList" parameterType="issueSch" resultType="issue">
		select ti.*, ui.UI_NAME
		from (
			SELECT row_number() over(ORDER BY to_date(ti_duedate, 'YYYY-MM-DD')) cnt, task_issue.*
			from task_issue
			where 1=1
			and PT_ID = #{ptId}
			<if test="tiContent != null and tiContent != ''">
			and ti_content like '%'||#{tiContent}||'%'
			</if>
			<if test="tiCharge != null and tiCharge != ''">
			and ti_charge like '%'||#{tiCharge}||'%'
			</if>
			<if test="tiDuedate != null and tiDuedate != ''">
			and ti_duedate like '%'||#{tiDuedate}||'%'
			</if>
			<if test="tiPriority != null and tiPriority != ''">
			and ti_priority like '%'||#{tiPriority}||'%'
			</if>
		)ti, user_info ui
		where cnt between #{firstPage} and #{lastPage}
		and ti.TI_WRITER = ui.UI_ID
	</select>
	
	
	<insert id="insertIssue" parameterType="issue">
		INSERT INTO task_issue VALUES(
			'TI' || lpad(issue_seq.nextval, 5, 0),
			#{tiWriter},
			#{tiContent},
			#{tiCharge},
			#{tiPriority},
			#{tiDuedate}, #{ptId}
		)
	</insert>
	
	
	<update id="updateIssue" parameterType="issue">
		update task_issue
		set ti_content = #{tiContent},
		    ti_charge = #{tiCharge},
			ti_priority = #{tiPriority},
			ti_duedate = #{tiDuedate}
		where ti_id = #{tiId}
	</update>
	
	<delete id="deleteIssue" parameterType="string">
		delete from task_issue where ti_id = #{tiId}
	</delete>
	
	<select id="getIssue" parameterType="string" resultType="issue">
		select * 
		from task_issue 
		where ti_id= #{tiId}
	
	</select>
	
	


	<select id="getTotalPICnt" parameterType="prjIssueSch" resultType="int">
		select count(*)
		from prj_issue
		where 1=1
		and PI_ID = #{piId}
		<if test="iContent != null and iContent != ''">
		and i_content like '%'||#{iContent}||'%'
		</if>
		<if test="iCharge != null and iCharge != ''">
		and i_charge like '%'||#{iCharge}||'%'
		</if>
		<if test="iDuedate != null and iDuedate != ''">
		and i_duedate <![CDATA[<=]]> #{iDuedate}
		</if>
		<if test="iPriority != null and iPriority != ''">
		and i_priority like '%'||#{iPriority}||'%'
		</if>
	</select>
	
	<select id="getPrjIssueList" parameterType="prjIssueSch" resultType="prjIssue">
		select *
		from (
			SELECT row_number() over(ORDER BY to_date(i_duedate, 'YYYY-MM-DD')) cnt, prj_issue.*
			from prj_issue
			where 1=1
			and PI_ID = #{piId}
			<if test="iContent != null and iContent != ''">
			and i_content like '%'||#{iContent}||'%'
			</if>
			<if test="iCharge != null and iCharge != ''">
			and i_charge like '%'||#{iCharge}||'%'
			</if>
			<if test="iDuedate != null and iDuedate != ''">
			and i_duedate <![CDATA[<=]]> #{iDuedate}
			</if>
			<if test="iPriority != null and iPriority != ''">
			and i_priority like '%'||#{iPriority}||'%'
			</if>
		)i, user_info ui
		where cnt between #{firstPage} and #{lastPage}
		and i.I_WRITER = ui.UI_ID
		
	</select>
	
	
	<insert id="insertPrjIssue" parameterType="prjIssue">
		INSERT INTO prj_issue VALUES(
			'I' || lpad(i_seq.nextval, 5, 0),
			#{iWriter},
			#{iContent},
			#{iCharge},
			#{iPriority},
			#{iDuedate}, #{piId}
		)
	</insert>
	
	
	<update id="updatePrjIssue" parameterType="prjIssue">
		update prj_issue
		set i_content = #{iContent},
		    i_charge = #{iCharge},
			i_priority = #{iPriority},
			i_duedate = #{iDuedate}
		where i_id = #{iId}
	</update>
	
	<delete id="deletePrjIssue" parameterType="string">
		delete from prj_issue where i_id = #{iId}
	</delete>
	

	<select id="getPrjIssue" parameterType="string" resultType="prjIssue">
		select * 
		from prj_issue 
		where i_id= #{iId}
	
	</select>




</mapper>