<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

	<mapper namespace="mvc.dao.KanbanDao">
		<select id="getKlist" resultType="kanban">
		SELECT pt_id, pt_title, pt_startdate, pt_duedate,
		pt_type, pt_status, ui_id, pi_id
		FROM prj_task
		</select>
	</mapper>