<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
		<setting name="mapUnderscoreToCamelCase" value="true"/> 
	</settings>
	<typeAliases>
		<typeAlias alias="deptDoc" type="mvc.vo.DeptDoc"/>
		<typeAlias alias="deptDocSch" type="mvc.vo.DeptDocSch"/>
		<typeAlias alias="deptFile" type="mvc.vo.DeptFile"/>
	</typeAliases>
	<mappers>
		<mapper resource="resource/DeptMapper.xml"/>
		<mapper resource="resource/DeptDetailMapper.xml"/>
	</mappers>
</configuration>