<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mvc.dao.SchGanttDao">
	<!-- 1. 조회 -->
	<select id="getGanttList" resultType="task">
		SELECT pt_id
		     , pt_title
		     , pt_startdate
		     , pt_duedate
		     , pt_type
		     , pt_status
		     , ui_id
		     , pi_id
		     , TO_DATE(pt_duedate, 'YYYY-MM-DD') - TO_DATE(pt_startdate, 'YYYY-MM-DD') as duration
		  FROM prj_task
	</select>
	<select id="getSchGanttList"  resultType="sg">
		SELECT sg_id
		     , sg_type
		     , sg_startdate
		     , sg_duration
		     , pt_id
		  FROM SCH_GANTT
	</select>

	<!-- 2. 등록 -->
	<insert id="saveSchGantt" parameterType="task">
		INSERT INTO PRJ_TASK
		VALUES (
		 'PT' || LPAD(to_seq.nextVal,5,0)
		, #{ptTitle}
		, null
		, #{ptStartdate}
		, #{ptDuedate}
		, null
		, null
		, null
		, null
		, null
		, null
		, null
		)

	</insert>
	<!-- 3. 수정 -->
	<update id="updateSchGantt" parameterType="task">
		 UPDATE PRJ_TASK
			SET PT_STARTDATE = #{ptStartdate}
			  , PT_DUEDATE   = #{ptDuedate}
			  , PT_TITLE     = #{ptTitle}
		  WHERE PT_ID = #{ptId}
	</update>
	<!-- 4. 삭제 -->
	<delete id="deleteSchGantt" parameterType="task">
		delete
		  from PRJ_TASK
	     where pt_id = #{ptId}
	</delete>
</mapper>