<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
	
<mapper namespace="mvc.dao.TaskDetailDao">


	<select id="getMyWTaskCnt" parameterType="taskUser" resultType="int">
		select count(*)
		from PRJ_TASK
		where 1=1
		and  UI_ID = #{uiId}
		and PI_ID = #{piId}
		<if test="ptTitle != null and ptTitle != ''">
		and PT_TITLE like '%'||#{ptTitle}||'%'
		</if>
		<if test="ptCharge != null and ptCharge != ''">
		and pt_charge like '%'||#{ptCharge}||'%'
		</if>
		<choose>
			<when test="ptStartdate != null and ptStartdate != '' and  ptDuedate != null and ptDuedate != ''">
			and pt_startdate between #{ptStartdate} and #{ptDuedate}
			and pt_duedate between #{ptStartdate} and #{ptDuedate}
			</when>
			<when test="ptStartdate != null and ptStartdate != ''">
			and pt_startdate >= #{ptStartdate}
			</when>
			<when test="ptDuedate != null and ptDuedate != ''">
			and pt_duedate <![CDATA[<]]>= #{ptDuedate}
			</when>
		</choose>
		
	</select>


	<select id="getMytaskListW" parameterType="taskUser" resultType="taskUser">
		select tu.*
		from(
		SELECT row_number() over(ORDER BY pt_duedate) cnt, PRJ_TASK.*
		from PRJ_TASK
		where 1=1
		and UI_ID = #{uiId}
		and PI_ID = #{piId}
		<if test="ptTitle != null and ptTitle != ''">
		and PT_TITLE like '%'||#{ptTitle}||'%'
		</if>
		<if test="ptCharge != null and ptCharge != ''">
		and pt_charge like '%'||#{ptCharge}||'%'
		</if>
		<choose>
			<when test="ptStartdate != null and ptStartdate != '' and  ptDuedate != null and ptDuedate != ''">
			and pt_startdate between #{ptStartdate} and #{ptDuedate}
			and pt_duedate between #{ptStartdate} and #{ptDuedate}
			</when>
			<when test="ptStartdate != null and ptStartdate != ''">
			and pt_startdate >= #{ptStartdate}
			</when>
			<when test="ptDuedate != null and ptDuedate != ''">
			and pt_duedate <![CDATA[<]]>= #{ptDuedate}
			</when>
		</choose>
		) tu
		where cnt between #{firstPage} and #{lastPage}
	</select>
	
	
	<select id="getMyCTaskCnt" parameterType="taskUser" resultType="int">
		select count(*)
		from PRJ_TASK
		where 1=1
		and PT_CHARGE LIKE '%' || #{uiDept} || ' ' || #{uiName} || '%'
		and PI_ID = #{piId}
		<if test="ptTitle != null and ptTitle != ''">
		and PT_TITLE like '%'||#{ptTitle}||'%'
		</if>
		<if test="ptCharge != null and ptCharge != ''">
		and pt_charge like '%'||#{ptCharge}||'%'
		</if>
		<choose>
			<when test="ptStartdate != null and ptStartdate != '' and  ptDuedate != null and ptDuedate != ''">
			and pt_startdate between #{ptStartdate} and #{ptDuedate}
			and pt_duedate between #{ptStartdate} and #{ptDuedate}
			</when>
			<when test="ptStartdate != null and ptStartdate != ''">
			and pt_startdate >= #{ptStartdate}
			</when>
			<when test="ptDuedate != null and ptDuedate != ''">
			and pt_duedate <![CDATA[<]]>= #{ptDuedate}
			</when>
		</choose>
	</select>
	
	
	<select id="getMytaskListC" parameterType="taskUser" resultType="taskUser">
		
		select tu.*
		from(
		SELECT row_number() over(ORDER BY pt_duedate) cnt, PRJ_TASK.*
		from PRJ_TASK
		where 1=1
		and PT_CHARGE LIKE '%' || #{uiDept} || ' ' || #{uiName} || '%'
		and PI_ID = #{piId}
		<if test="ptTitle != null and ptTitle != ''">
		and PT_TITLE like '%'||#{ptTitle}||'%'
		</if>
		<if test="ptCharge != null and ptCharge != ''">
		and pt_charge like '%'||#{ptCharge}||'%'
		</if>
		<choose>
			<when test="ptStartdate != null and ptStartdate != '' and  ptDuedate != null and ptDuedate != ''">
			and pt_startdate between #{ptStartdate} and #{ptDuedate}
			and pt_duedate between #{ptStartdate} and #{ptDuedate}
			</when>
			<when test="ptStartdate != null and ptStartdate != ''">
			and pt_startdate >= #{ptStartdate}
			</when>
			<when test="ptDuedate != null and ptDuedate != ''">
			and pt_duedate <![CDATA[<]]>= #{ptDuedate}
			</when>
		</choose>
		) tu
		where cnt between #{firstPage} and #{lastPage}
		
		
	</select>
	
	
	
	

	
	<select id="getUser" parameterType="taskUser" resultType="taskUser">
		SELECT distinct ui.UI_ID, ui.UI_DEPT, ui.ui_Name, pt.PI_ID
		FROM user_info ui, prj_task pt
		WHERE ui.UI_ID = #{uiId}
		and pt.pi_id = #{piId}
		and ui.ui_id = pt.ui_id
	</select>
	
	
	
	<insert id="insertOutput" parameterType="output">
		insert into TASK_OUTPUT values(
		'TO' || LPAD(to_seq.nextval, 5,'0'), #{toFile}, 
			#{toWriter}, sysdate, #{ptId}
		)
							
	</insert>
	
	<select id="getOutputList" parameterType="string" resultType="output">
		SELECT * FROM TASK_OUTPUT
		where PT_ID = #{ptId}
	
	
	</select>
	
	<delete id="deleteOutput" parameterType="String">
	
		DELETE FROM TASK_OUTPUT to2 WHERE TO_FILE = #{toFile}
	
	</delete>
	
	
	
	<update id="updateTask" parameterType="task">
		update PRJ_TASK
			set PT_TITLE =  #{ptTitle}
				,PT_CONTENT = #{ptContent}
				,PT_STARTDATE = #{ptStartdate}
				,PT_DUEDATE = #{ptDuedate}
				,PT_CHARGE = #{ptCharge}
				,PT_TYPE = #{ptType}
				,PT_STATUS = #{ptStatus}
		where PT_ID = #{ptId}
			
	</update>
	
	
	<select id="getTask" parameterType="string" resultType="taskUser">
		select * from (
		select * from PRJ_TASK where PT_ID = #{ptId}
		) pt, USER_INFO ui
		where pt.UI_ID = ui.UI_ID
		
	</select>
	
	<delete id="delTask" parameterType="string">
		delete from PRJ_TASK where PT_ID = #{ptId}
	
	</delete>
	
	<select id="pwChk" parameterType="user" resultType="int">
		SELECT count(*)
		FROM user_info
		WHERE UI_ID = #{uiId}
		and UI_PW = #{uiPw}
		
	</select>
	

</mapper>